/* CSS Keseluruhan */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Scroll */
html {
  scroll-behavior: smooth;
}

/* CSS Navbar */
nav {
  display: flex;
  pading: 18px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #273036;
  color: #fff;
}

nav h4 {
  display: inline-block;
  padding: 18px;
}

nav ul li {
  display: inline-block;
  flex-direction: row;
  padding: 18px;
  font-weight: bolder;
  font-size: 18px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* CSS Home */
.home .container {
  padding-top: 200px;
  text-align: center;
  background-color: #6c757d;
}

.home .container img {
  border-radius: 50%;
}

.home .container h1 {
  color: #fff;
  font-size: 40px;
  margin-top: 15px;
}

.home .container h4 {
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
}

/* CSS About */
.about .container {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

.about .container h3 {
  font-size: 40px;
}
.about .container hr {
  margin: 0 350px;
}

.about .container .title {
  font-size: 20px;
  margin: 10px 0;
}
.about .container p {
  padding-bottom: 10px;
}

.about .container .text {
  font-size: 20px;
}

/* CSS Profile */
.profile {
  background-color: #6c757d;
}

.profile .container .title {
  text-align: center;
  font-size: 40px;
  padding: 70px 0;
}

.profile .container {
  padding: 100px 0;
  padding-bottom: 0;
}

.profile .container .box {
  display: inline-block;
  text-align: center;
  padding: 40px 40px;
  background-color: #fff;
  margin: 0 90px;
}

/* CSS Achievement */
.achievement .container .title {
  font-size: 35px;
  padding: 30px 0;
}

.achievement .container {
  padding: 150px 0;
  text-align: center;
}

/* Contact */
.contact {
  background-color: #6c757d;
  justify-content: center !important;
  text-align: center;
  margin-bottom: -4px;
}

.contact .row {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 10rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row form {
  flex: 1 1 15rem;
  padding: 2rem;
  margin: 2rem;
  padding-bottom: 4rem;
}

.contact .row form button {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 910px;
}

.contact .row form button:hover {
  filter: drop-shadow(0px 4px 4px #fff);
  color: #273036;
}

.contact .row form button p:active {
  font-size: 0px;
  transform: rotate(360deg);
  transition: all 0.2s;
}

.contact .row form .box {
  padding: 15px;
  margin: 1rem 0;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-transform: none;
  font-size: 1.7rem;
  width: 50%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: capitalize;
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  align-items: center;
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
  font-weight: normal;
}

/* Footer */
.footer {
  background-color: #273036;
  padding: 5px 0;
  color: #fff;
  text-align: center;
}

.footer p a {
  color: #fff;
}
